body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 1600px;
}

.product-card {
   width: 500px;
   height: 800px;
   margin-top: 120px;
}
.left-img-col img {
    width: 500px;
    height: 800px;
    margin-top: 120px;
    display: flex;
}

.right-info-col{
    background-color: white;
    padding: 20px;
}

.right-info-col h3{
    font-size: 32px;
    margin-bottom: 15px;
}

.right-info-col h5{
    font-size: 18px;
    color: lightgrey;
    margin-bottom: 20px;
}

.right-info-col p{
    font-size: 14px;
    padding-left: 50px;
    margin-bottom: 20px;
}

.available-colors {
    padding: 20px;
    margin-bottom: 20px;
}

.available-colors span:first-child {
    font-size: 14px;
}

.black-color-container,
.red-color-container,
.white-color-container {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.black-color-container {
    background-color: black;
}

.red-color-container {
    background-color: red;
}

.white-color-container {
    background-color: beige;
}

.price {
    font-size: 32px;
    font-weight: bold;
}

.buy-btn {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
}